.navbar {
    margin-top: 10px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    padding: 0 40px;
}

.navbar h3 {
    letter-spacing: 2px;
    font-size: 1.3em;
}

.navbar .filter {
    justify-self: center;
    width: 50%;
}

.navbar .filter input[type='search'] {
    width: 100%;
    border-radius: 5px;
    border: 1px lightgray solid;
    height: 45px;
    padding: 10px;
    font-size: 14px;
}


@media(max-width: 800px) {
    .navbar .filter {
        display: none;
    }
}