.post_delete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px auto;
    align-items: center;
    font-size: 1.1em;
}

.post_delete .delete {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.post_delete .delete input[type="submit"] {
    margin-top: 30px;
}