.post-create {
    width: 700px;
    margin: 100px auto;
}

.input-field {
    margin: 20px 0;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.1em;
}

.post-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
}

.post-create input[type="file"] {
    margin: 30px 0;
}

@media(max-width: 800px) {
    .post-create {
        width: 350px;
    }

    .input-field {
        height: 200px;
        width: 250px;
    }
}