.post {
    width: 900px;
    margin: 50px auto;
}

.post .top {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.post .title {
    font-size: 1.5em;
}

.post .overview {
    font-size: 1.1em;
}

.post .content {
    font-size: 1.3em;
    line-height: 30px;
    text-align: justify;
}

.post .author {
    font-size: 1em;
    margin-bottom: 20px;
}

.post .edit {
    color: dodgerblue;
}

.post .delete {
    color: red;
}

.post img {
    width: 100%;
    height: 100%;
} 

@media(max-width: 800px) {
    .post {
        width: 400px;
    }
    
}